@model SubItemModel.BindSubItemGrid
@{
    ViewBag.Title = "SubItemItem";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet">
<link href="~/Content/chosen.css" rel="stylesheet">
<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" />@*For Export File*@
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">@*For Popup*@
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>@*For Export File*@
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>@*For Export File*@
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>@*For Export File*@
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>@*For Export File*@
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
@*<script type="text/javascript" language="javascript" src="//cdn.datatables.net/fixedcolumns/3.2.1/js/dataTables.fixedColumns.min.js"></script>*@
<script src="//cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>@*For Export File*@
<script src="//cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>@*For Export File*@
<script src="//cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>@*For Export File*@
<script src="//cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>@*For Export File*@
<script src="~/Scripts/datetimepicker/jqueryui.js"></script>
<script src="~/Scripts/jquery.total.js"></script>
<script src="~/Scripts/jquery.documentvalidate.js"></script>
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script src="~/Scripts/udjs/SubItem.js?dt=28092020"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>

<style type="text/css">
    .dataTables_scroll {
        overflow: auto;
    }
</style>

<style>
    .dataTable > thead > tr > th[class*=sort]:after {
        display: none;
    }

    table.dataTable thead tr {
        background-color: lightblue;
    }

    table thead tr {
        background-color: lightblue;
    }

    table tbody:hover > tr td {
        opacity: 0.5;
    }

    table tbody:hover > tr:hover td {
        color: #2d2d2d;
        opacity: 1.0;
    }

    table.dataTable tbody tr:nth-child(odd) {
        background: #eee;
    }

    table tbody:nth-child(odd) > tr:nth-child(odd) {
        background: #eee !important;
    }

    .buttons-excel {
        padding: 6px 12px !important;
        background: lightblue !important;
        border-color: #2196F3 !important;
    }

    .dataTables_paginate a {
        padding: 6px 12px !important;
        background: lightblue !important;
        border-color: #2196F3 !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: #2196F3;
        color: white !important; /*change the hover text color*/
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        background: #2196F3;
        color: white !important; /*below block of css for change style when active*/
    }

    th {
        white-space: nowrap;
    }

    td {
        white-space: nowrap;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Sub Item</b>
    </div>
    <div class="panel-body" id="showdata">
        <div class="row">
            <div class="col-md-2" id="divnewentry">
                <input type="submit" id="btnnewentry" value="Add New" class="btn btn-success" />
            </div>
        </div>
        <div style="margin-top:10px;"></div>
        <div class="row">
            <div class="col-md-12">
                <table id="SubItemGrid" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%"></table>
            </div>
        </div>
    </div>
</div>

<div id="addnew">
    <div class="panel-body" style="box-shadow: 5px 5px 5px 5px #D6DAD9">
        <div class="row">
            <div class="col-md-3">
                ITEM OWNER:
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ITEMOWNER", new List<SelectListItem>
                    {
                        new SelectListItem{ Text="-Select Owner-", Value = "0" },
                        new SelectListItem{ Text="McNROE", Value = "M" },
                        new SelectListItem{ Text="Riya", Value = "R" },
                        new SelectListItem{ Text="Both", Value = "B" },
                    }, new { @class = "form-control chosen", style = "width: 140px;" })

            </div>
        </div>
        <div style="margin-top:10px;"></div>
        <div class="row">
            <div class="col-md-3">
                PRIMARY&nbsp;ITEM<span style="color:red"><b>*</b></span>&nbsp;:
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.PRIMARYITEMTYPEID, new SelectList(string.Empty, "ID", "ITEMDESC"), new { @class = "form-control chosen", style = "width: 150px;" })
            </div>
        </div>
        <div style="margin-top:10px;"></div>
        <div class="row">
            <div class="col-md-3">
                SUB ITEM TYPE CODE :
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.SUBITEMCODE, new { @class = "form-control", @onkeypress = "return true;", style = "width: 130px;" })
            </div>
        </div>
        <div style="margin-top:10px;"></div>
        <div class="row">
            <div class="col-md-3">
                SUB ITEM TYPE NAME :<span style="color:red"><b>*</b></span>&nbsp;:
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.SUBITEMNAME, new { @class = "form-control", @onkeypress = "return true;", style = "width: 130px;" })
            </div>
        </div>
        <div style="margin-top:10px;"></div>
        <div class="row">
            <div class="col-md-3">
                DESCRIPTION :<span style="color:red"><b>*</b></span>&nbsp;:
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.SUBITEMDESC, new { @class = "form-control", @onkeypress = "return true;", style = "width: 130px;" })
            </div>
        </div>
        <div style="margin-top:10px;"></div>
        <div class="row">
            <div class="col-md-3">
                HSN :<span style="color:red"><b>*</b></span>&nbsp;:
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.HSE, new { @class = "form-control", @onkeypress = "return true;", style = "width: 130px;" })
            </div>
        </div>
        <div style="margin-top:10px;"></div>
        <div class="row">
            <div class="col-md-3">
                FACTORY&nbsp;MAP<span style="color:red"><b>*</b></span>&nbsp;:
            </div>
            <div class="col-xs-3">
                @Html.DropDownListFor(model => model.BRID, new SelectList(string.Empty, "BRID", "BRNAME"), new { @class = "form-control chosen", style = "width: 138px;" })
            </div>
        </div>
        <div style="margin-top:10px;"></div>
        <div class="row">
            <div class="col-md-3">
                ACTIVE :
            </div>
            <div class="col-md-3">
                <input type="checkbox" id="chkactive" name="active" value="1" checked>
                @Html.Hidden("hdnSubItemID", "")
            </div>
        </div>
        <div style="margin-top:10px;"></div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-0 col-md-12">
                    <input type="submit" id="btnsave" value="Save" class="btn btn-success" />
                    <input type="submit" id="btnClose" value="Close" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
</div>